#container{
    width: 300px;
    margin: auto;
    background-color: #61429d;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        'result result result result'
        'addition subtraction multiplication division'
        'digit7 digit8 digit9 equal'
        'digit4 digit5 digit6 equal'
        'digit1 digit2 digit3 equal'
        'clear clear digit0 equal';
}

#display{
    grid-area: result;
    border-radius: 5px;
    height: 45px;
    background-color: #ffff;
    font-size: 30px;
}

.key{
    height: 50px;
    background-color: #ffff;
    border-radius: 3px;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}

.plus{
    grid-area: addition;
}

.minus{
    grid-area: subtraction;
}

.multiply{
    grid-area: multiplication;
}

.divide{
    grid-area: division;
}

.clear-key{
    grid-area: clear;
}

.digit-0{
    grid-area: digit0;
}

.digit-1{
    grid-area: digit1;
}

.digit-2{
    grid-area: digit2;
}

.digit-3{
    grid-area: digit3;
}

.digit-4{
    grid-area: digit4;
}

.digit-5{
    grid-area: digit5;
}

.digit-6{
    grid-area: digit6;
}

.digit-7{
    grid-area: digit7;
}

.digit-8{
    grid-area: digit8;
}

.digit-9{
    grid-area: digit9;
}

.equal-key{
    grid-area: equal;
    height: 218px;
    background-color: #ffff;
    border-radius: 3px;
    font-size: 30px;
    line-height: 209px;
}